.contenido {
    margin: 0 10%;
}

.parallax {
    background-image: url('../assets/images/quienesSomos.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 400px) {
    .contenido {
        margin: 0;
    }

    .parallax {
        background-image: url('../assets/images/elegirnos.jpeg');
    }
}