* {
    --primary-color: rgb(30,170,254);
    --secondary-color: rgb(46,50,66);
    --neutral-white: rgb(241,242,242);
}

.bg-neutral {
    background-color: var(--neutral-white);
}

.bg-oscuro {
    background-color: var(--secondary-color);
}

.bg-azul {
    background-color: var(--primary-color);
}

.color-azul {
    color: var(--primary-color);
}

.WhatsApp {
    background-color: rgb(5, 195, 5);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: 20px;
}

.navbar {
    opacity: 0.95;
}

.logo-img {
    max-width: 70px;
}

.linea {
    /* background-color: var(--primary-color); */
    height: 5px;
    border-radius: 10px;
}

.texto-footer {
    font-size: small;
}

@media screen and (max-width: 600px) {
    .barra-superior {
        position: sticky;
    }

    .navbar {
        background-color: var(--secondary-color);
        opacity: 1;
    }

    .navbar-nombre {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .logo-img {
        max-width: 90px;
    }
}