* {
    --primary-color: rgb(30,170,254);
    --secondary-color: rgb(46,50,66);
    --neutral-white: rgb(241,242,242);
}

.bg-neutral {
    background-color: var(--neutral-white);
}

.bg-oscuro {
    background-color: var(--secondary-color);
}

.bg-azul {
    background-color: var(--primary-color);
}

.color-azul {
    color: var(--primary-color);
}

.navbar {
    opacity: 0.95;
}

.logo {
    text-decoration: none;
}

.logo-img {
    max-width: 70px;
}

.WhatsApp {
    background-color: rgb(5, 195, 5);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.carousel-img {
    max-height: 600px;
    width: auto;
}

.linea {
    background-color: var(--primary-color);
    height: 5px;
    border-radius: 10px;
}

.ul-elegirnos {
    list-style: none;
    padding: 0;
}

.elegirnos-item {
    color: var(--primary-color);
    margin-right: 10px;
}

.img-elegirnos {
    width: 100%;
    max-width: 500px;
}

.texto-footer {
    font-size: small;
}

.servicios-texto {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.servicio-card:hover .servicios-texto {
    opacity: 1;
}

.card-formulario {
    margin: 20px 0px;
}

.formulario {
    width: 600px;
}

@media screen and (max-width: 600px) {
    .barra-superior {
        position: sticky;
    }

    .navbar {
        background-color: var(--secondary-color);
        opacity: 1;
    }

    .navbar-nombre {
        display: none;
    }

    .img-elegirnos {
        display: none;
    }

    .formulario {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .formulario {
        max-width: 300px;
    }
}