* {
    --primary-color: #0196C4;
    --secondary-color: #313A49;
    --neutral-white: #E6E6E8;
}

.navbar {
    background-color: var(--secondary-color);
}
.logo {
    text-decoration: none;
}
.logo-img {
    max-width: 70px;
}

.logo-texto {
    color: var(--primary-color);
}

.WhatsApp {
    background-color: rgb(5, 195, 5);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.carousel-img {
    max-height: 800px;
    width: auto;
}

.linea {
    background-color: var(--primary-color);
    height: 5px;
    border-radius: 10px;
}

.ul-elegirnos {
    list-style: none;
    padding: 0;
}

.elegirnos-item {
    color: var(--primary-color);
    margin-right: 10px;
}

.img-elegirnos {
    max-width: 100%;
}

.texto-footer {
    font-size: small;
}

.servicio-img {
    /* height: 100%; */
    display: none;
}

.card-texto {
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
}

.card-servicio {
    height: 100px;
    transition: height 0.5s ease;
}

.card-servicio:hover {
    height: 200px;
}

.card-texto:hover {
    background-color:#0197c486;
}
.card-servicio:hover .servicio-img {
    display: block;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .logo-texto {
        display: none;
    }

    .img-elegirnos {
        display: none;
    }
}